@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@300;400;500;700&family=Roboto&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

body {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('bg.jpg');
    background-position: center;
    color: #fff;
    background-size: cover;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.outerBox {
    width: 300px;
    height: 500px;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    background-color: rgba(214, 249, 221, 0.09);
    border-radius: 50px;
}

.timer {
	display: flex;
    align-items: center;
    justify-content: center;
}

#newyear {
	font-family: 'Inspiration', cursive;
    font-size: 50px;
    margin-bottom: 10px;
}

#countdown {
    font-size: 16px;
    margin-bottom: 10px;
}

.box {
    width:50px;
    height: 50px;
    text-align: center;
    padding: 4px;
    margin:10px;
}

.box h2 {
    font-size: 20px;
}
.box small {
    font-size: 12px;
}

@media (min-width: 576px) {
    #newyear {
        font-size: 70px;
    }
    #countdown {
        font-size: 18px;
    }
    .box {
        width:55px;
        height: 55px;
    }
    .box h2 {
        font-size: 24px;
    }
    .box small {
        font-size: 16px;
    }
    .outerBox {
        width: 350px;
        height: 550px;
    }
}

@media (min-width: 768px) {
    #newyear {
        font-size: 100px;
    }
    #countdown {
        font-size: 25px;
    }
    .box {
        width:60px;
        height: 60px;
    }
    .box h2 {
        font-size: 30px;
    }
    .box small {
        font-size: 18px;
    }
    .outerBox {
        width: 400px;
        height: 600px;
    }
}
